<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Basic CRUD Applications</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="mt-3 mx-auto" >
    <div class="position-relative vertical-center">
        <div class="">

            <div class="myHeader">
                <div class="d-flex justify-content-end mt-0 ">
                    <form action="#" th:action="@{/}" th:method="get">
                        <button type="submit" class="btn btn-primary" id="buttonId"><i class="fa fa-home"></i>   Домой</button>
                    </form>
                </div>
                <h2 class="mt-2">Edit user for application</h2>
            </div>

            <table class="table table-bordered table-hover">
                <thead>
                <tr class="col text-center">
                    <th>Id</th>
                    <th>User</th>
                    <th>Password</th>
                </tr>
                </thead>

                <tbody class="text-center" >
                <div>
                    <tr>
                        <form action="#"
                              th:action="@{/update/{id}(id=${userList.id})}"
                              th:object="${userList}"
                              method="post">
                            <td></td>
                            <td> <input type="text" name="user" th:field="*{user}" placeholder="Enter user name" value=""> </td>
                            <td> <input type="text" name="pass" th:field="*{pass}" placeholder="Enter your password" value=""> </td>
                            <td><button type="submit" class="btn btn-primary" id="buttonEdit"><i class="fa fa-save"> Обновить</i></button></td>
                        </form>
                    </tr>
                </div>
                </tbody>
            </table>

        </div>
    </div>
</div>

</body>
</html>
